/* Custom classes */

/* .clr-one {
    color: red;
} */
.ff-one {
    font-family: var(--font-one) !important;
}
.ff-two {
    font-family: var(--font-two) !important;
}

.clr-one{
    color: var(--color-one);
}
.clr-two{
    color: var(--color-two);
}
.bg-one{
    background-color: var(--color-one);
}
.bg-two{
    background-color: var(--color-one);
}

.fz-12 {
    font-size: 14px;
}
.fz-14 {
    font-size: 14px;
}
.fz-16 {
    font-size: 14px;
}
.fz-18 {
    font-size: 14px;
}